<form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
<div class="container text-align-center">
    <div class="row justify-content-center">
        <mat-card  class="card-register-width">
            <mat-card-header>
                <div mat-card-avatar><i class="material-icons back-login" matTooltip="Back to login" [routerLink]="['/login']">&#xe314;</i></div>
                <mat-card-title>Sign-up</mat-card-title>
                <mat-card-subtitle>Tekton Labs</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="User name" [formControl]="user_name">
                            <mat-error *ngIf="user_name.hasError('required')">
                                User name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="E-mail" [formControl]="email">
                            <mat-error *ngIf="email.hasError('required')">
                                E-mail is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Password" type="password" [formControl]="password">
                            <mat-error *ngIf="password.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="!password.hasError('required') && password.hasError('minlength')">
                                Password needs <strong>{{min_password_length}}</strong> characters at least
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Confirm password" type="password" [formControl]="repeat_password">
                            <mat-error *ngIf="!password.hasError('required') && repeat_password.hasError('minlength')">
                                Password needs <strong>{{min_password_length}}</strong> characters at least
                            </mat-error>
                            <mat-error *ngIf="repeat_password.hasError('required')">
                                Confirm password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <small class="row" style="color: red; text-align: initial" *ngIf="validateInputs()">
                            <div class="col-md-12">
                            Passwords do not match
                            </div>
                        </small>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button type="submit">Register</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
</form>
