.full-width {
    width: 100%;
}

.create-post {
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
}

.text-area-post {
    background-color: white;
}

.text-align-end {
    text-align: end;
}
