.full-width {
    width: 100%;
}

.title {
    font-weight: bold;
}

.edit-post {
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
}

.text-area-post {
    background-color: white;
}

.edit-option {
    cursor: pointer;
    text-align: end;
}

.subtitle {
    color: #90949c;
}

.not-selected {
    color: #90949c;
}

.text-align-end {
    text-align: end;
}

.tooltip-multiline {
    white-space: pre-line;
}
