<nav class="main-navbar navbar navbar-expand-lg" [ngClass]="{'expanded': navbarCollapsed}" >
  <button (click)="navbarCollapsed = !navbarCollapsed" class="navbar-toggler" type="button" [attr.aria-expanded]="!navbarCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <span *ngIf="navbarCollapsed" class="fa fa-bars"></span>
      <span *ngIf="!navbarCollapsed" class="fa fa-times"></span>
    </span>
  </button>

  <div class="navbar-items-wrapper navbar-collapse collapse" role="navigation">
    <ul class="navbar-items-list navbar-nav ml-auto">
      <li class="nav-item user-action-item">
        <a class="nav-link">
          {{TisNotNull(user_logged) ? user_logged.user_name : 'Not user logged'}}
        </a>
      </li>
      <li class="nav-item user-action-item">
        <a class="nav-link" (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>