<form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
    <div class="container text-align-center">
        <div class="row justify-content-center">
            <mat-card  class="card-login-width">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Sign-in</mat-card-title>
                    <mat-card-subtitle>Tekton Labs</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="E-mail" [formControl]="email">
                                <mat-error *ngIf="email.hasError('required')">
                                    E-mail is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Password" type="password" [formControl]="password">
                                <mat-error *ngIf="password.hasError('required')">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <mat-error *ngIf="isIncorrect">
                            Email or password are incorrect, try again!
                        </mat-error>
                    </div>
                    <div class="row justify-content-center link">
                        <p [routerLink]="['/register']">You don't have a user account?, Sign-up here!</p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button type="submit">Sign-in</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</form>