<form [formGroup]="form" class="auth-form">
    <mat-card class="create-post">
        <mat-card-content>
            <mat-form-field class="full-width text-area-post col-md-12">
                <textarea matInput #message maxlength="400" placeholder="What's on your mind ?" [formControl]="post"></textarea>
                <mat-hint align="end">{{message.value.length}} / 400</mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="col-md-12 text-align-end">
            <button mat-raised-button color="primary" (click)="sharePost()">Share</button>
        </mat-card-actions>
    </mat-card>
</form>