.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.card-register-width {
    width: 600px;
    align-content: center
}

.center {
    align-content: center;
}

.text-align-center {
    text-align: center;
}

.back-login {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .card-register-width {
        width: 100%;
        align-content: center
    }
}