app-top-navbar {
    display: block;

    .main-navbar {
      box-shadow: 0px 2px 4px 0px rgba(#000, .5);
      left: 0;
      margin-bottom: 15px;
      right: 0;
      top: 0;
      z-index: 2;
      min-height: 3.5rem;

      &.expanded {
        /*@include media-breakpoint-down(md) {
          background-color: $purple;
          box-shadow: none;
        }*/
      }

      &::before {
        content: '';
        background: rgba(purple, 0.35);
        filter: blur(20px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }

      &.not-home {
        background-color: #673ab7;
        box-shadow: none;
        position: static;

        &::before {
          content: none;
        }
      }

      .navbar-brand {
        display: flex;
        height: 1rem;
        padding: 0px;
        margin: 0px;

        .brand-logo {
          width: auto;
          height: 100%;
        }
      }

      .navbar-items-wrapper {
        /*@include media-breakpoint-down(md) {
          padding-bottom: 70px;
          padding-top: 30px;
          text-align: center;
        }*/
      }

      .navbar-toggler-icon {
        .fa {
          color: white;
          height: 100%;

          &::before {
            vertical-align: sub;
          }
        }
      }

      .navbar-items-list {
        /*@include media-breakpoint-down(md) {
          flex-direction: row;
          flex-wrap: wrap;
        }*/
      }

      .nav-item {
        /*@include media-breakpoint-down(md) {
          flex: 0 0 100%;
          max-width: 100%;
        }*/

        &:hover,
        &.active {
          .nav-link {
            opacity: 1;
          }
        }

        .nav-link {
          opacity: 0.9;
          color: white;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.07rem;
          cursor: pointer;

          /*@include media-breakpoint-down(md) {
            font-size: 1.5rem;
            letter-spacing: 0.14rem;
          }*/
        }
      }

      .nav-search-bar-item {
        margin-bottom: 40px;

        .store-search-bar {
          color: white;
          border-color: white;

          .search-bar-input {
            background-color: transparent;
            padding: 1rem 1.25rem;
            font-size: 1.3rem;

            &:focus {
              background-color: white;
            }
          }
        }

        /*@include media-breakpoint-down(md) {
          flex: 0 0 80%;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }

        @include media-breakpoint-down(sm) {
          flex: 0 0 100%;
          max-width: 100%;
        }*/
      }

      .nav-divider {
        /*@include media-breakpoint-down(md) {
          flex: 0 0 100%;
          max-width: 100%;
          margin: 40px 0;

          .divider-line {
            max-width: 50vw;
          }
        }*/
      }

      .user-action-item {
        position: relative;
        margin-left: 4vw;

        /*@include media-breakpoint-down(md) {
          flex: 0 0 50%;
          max-width: 50%;
          margin-left: 0px;
        }*/

        &+ .user-action-item {
          margin-left: 0px;

          &::before {
            content: '/';
            opacity: 1;
            position: absolute;
            left: -0.25rem;
            width: 0.5rem;
            font-size: 1.5rem;
            line-height: 1;
            color: white;
            top: calc(50% - 0.5em);

            /*@include media-breakpoint-down(md) {
              font-size: 2rem;
            }*/
          }
        }
      }

    }// .main-navbar
  }