.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.card-login-width {
    width: 600px;
    align-content: center
}

.center {
    align-content: center;
}

.text-align-center {
    text-align: center;
}

.header-image {
    background-image: url('/assets/imgs/login/tk.png');
    background-size: cover;
}

.link {
    color: #1a73e8;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .card-login-width {
        width: 100%;
        align-content: center
    }
}