<form [formGroup]="form" class="auth-form">
    <div class="_3u15" role="presentation"></div>
    <mat-card [ngClass]="changeBackground()">
        <div class="row">
            <div class="col-md-10 title">{{item.owner_username}} {{validateUser() ? '(You)' : ''}}</div>
            <div class="col-md-2 title edit-option" *ngIf="validateUser() && !editPostMode">
                <i class="material-icons" (click)="editPost()" matTooltip="Edit post">&#xe3c9;</i>
                <i class="material-icons" (click)="deletePost()" matTooltip="Delete post">&#xe872;</i>
            </div>
            <div class="col-md-2 title edit-option" *ngIf="validateUser() && editPostMode" (click)="noEditPost()" ><i class="material-icons" matTooltip="No edit post">&#xe14a;</i></div>
            <div class="col-md-12 subtitle"><small>{{item.updated_at}} {{wasEdited() ? '- Edited' : ''}}</small></div>
        </div>
        <div class="row" *ngIf="!editPostMode">
            <div class="col-md-12">{{item.text}}</div>
        </div>
        <div class="row" *ngIf="editPostMode">
             <mat-form-field class="full-width text-area-post col-md-12">
                <textarea matInput #message maxlength="400" [formControl]="post"></textarea>
                <mat-hint align="end">{{message.value.length}} / 400</mat-hint>
            </mat-form-field>
        </div>
        <div class="row" *ngIf="quantity_likes > 0">
            <div class="col-md-12 subtitle">
                <small matTooltip="{{showUserLike()}}" [matTooltipClass]="'tooltip-multiline'">{{quantity_likes}} {{quantity_likes > 1 ? 'likes' : 'like'}}</small>
            </div>
        </div>
        <mat-card-actions class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <button mat-button color="getStyleButton('LIKE')" [ngClass]="getColorLike('LIKE')"
                        (click)="actionLike()">
                        <i class="material-icons">&#xe8dc;</i> Like</button>
                    <button mat-button color="getStyleButton('DISLIKE')" [ngClass]="getColorLike('DISLIKE')"
                        (click)="actionDislike()">
                        <i class="material-icons">&#xe8db;</i> Dislike</button>
                </div>
                <div class="col-md-6 text-align-end" *ngIf="editPostMode">
                    <button mat-raised-button color="primary" (click)="actionEdit()" [disabled]="!post.dirty">Save</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
    <br>
</form>