<app-top-navbar></app-top-navbar>
<div class="container">
    <div class="col-md-12">
        <app-timeline-storecreatepost></app-timeline-storecreatepost>
    </div>
    <br>
    <div class="col-md-12" *ngFor="let i of listPosts">
        <app-timeline-storepost [item] = "i"></app-timeline-storepost>
    </div>
    <div class="col-md-12" *ngIf="listPosts.length <= 0">
        <mat-card class="example-card">
            <mat-card-content>
                <p>
                    There is no posts yet
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
